body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* styling for navigation bar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    font-family: "Rubik", 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #ffe9ec;
}

.navbar a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    margin: 0.5em 0;
}

/* styling for footer */
footer {
    background-color: #ffe9ec;
    padding: 0.2em;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    line-height: 1.6;
    bottom: 0;
    margin-top: auto;

}

footer p {
    font-style: italic;
    text-align: center;
}

/* styling for index.html  */

.main-container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em auto;
    padding: 1em;
    width: 60%;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.main-container h1 {
    text-align: center;
    font-size: 2.2em;
    font-weight: lighter;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0.5em auto;
    padding: 0.5em;
}

.search-container label {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

.search-container input {
    padding: 0.4em;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

table {
    border: 2px solid red;
    width: 90%;
    margin: 1em auto;
}

table th {
    font-weight: lighter;
    text-align: left;
    text-decoration: underline;
}

/* media query for screens larger than 1600px */
@media (min-width: 1600px) {
    main table {
        max-width: 1000px;
    }
}

@media (max-width: 768px) {
    .main-container {
        width: 80%;
    }
}