body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* styling for navigation bar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    font-family: "Rubik", 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #ffe9ec;
}

.navbar a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    margin: 0.5em 0;
    padding: 0.5em 0;
}

/* styling for footer */
footer {
    background-color: #ffe9ec;
    padding: 0.5em;
    margin-top: 1em;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.6;
    bottom: 0;
    margin-top: auto;
    
}

footer p {
    font-style: italic;
    text-align: center;
}

/* styling for index.html  */

main {
    font-family: 'Courier New', Courier, monospace;
}


/* media query for screens larger than 1600px */
@media (min-width: 1600px) {
    .about {
        max-width: 1000px;
    }
}

